.navbar-static-top {
  margin-bottom: 20px;
}
body.home .navbar-static-top {
  margin-bottom: 0;
}
.form-horizontal .control-label {
  width: 240px;
}
.form-horizontal .controls {
  margin-left: 260px;
}
.form-horizontal .form-actions {
  padding-left: 280px;
}
.input-wide, div.bootstrap-select.input-wide {
  width: 530px;
}
input.input-wide, textarea.input-wide {
  width: 516px;
}
textarea {
  height: 9em;
}
textarea.markdown-long {
  height: 12em;
}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
  color: inherit;
}
.group {
  position: relative;
  margin: 15px 0;
  padding: 29px 19px 0px 19px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.group-title {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  line-height: inherit;
  margin: 0;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #8d9094;
  border-radius: 4px 0 4px 0;
}
table.table-doc {
  margin-bottom: 0;
}
table.table-doc th {
  width: 260px;
  padding-left: 0;
}
table.table-doc tr:first-child th, table.table-doc tr:first-child td {
  border: none;
}
.doc-show h3 {
  font-size: 14px;
  line-height: inherit;
}
.doc-show .lead a {
  font-size: 14px;
}
.doc-show .lead h1 {
  display: block;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
.doc-show td > *:last-child {
  margin-bottom: 0;
}
.doc-show ol > li {
  padding: 5px 0;
}

table.table-cross td, table.table-cross th {
  text-align: center;
}
table.table-cross th.notion {
  text-align: right;
}
table.table-cross th.discipline {
  font-weight: normal;
}
table.table-cross th.discipline {
  vertical-align: middle;
}
table.table-cross th.discipline a {
  color: #333;
}
table.table-cross a.notice {
  display: inline-block;
}

a.label-link:hover {
  text-decoration: none;
}
a.label-link:hover span.label {
  text-decoration: underline;
}
.form-search .control-group {
  margin-bottom: 10px;
}
.doc-found {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 19px 4px 19px;
  margin-bottom: 19px;
}
.doc-found table {
  margin-bottom: 0;
}
.doc-found h2 {
  font-size: 14px;
  line-height: inherit;
}
.jumbotron {
  position: relative;
  padding: 20px 0 0 0;
  color: #fff;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  background: #020031;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031), color-stop(100%, #6d3353));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}
.jumbotron:after {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: 0.5;
}
.jumbotron h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
