@(doc: Doc, form: Form[_], lists: Lists)(implicit lang: Lang, user: User)

@mainAuth("Modifier la notice") {

<div class="container">
<h2>Modifier la notice</h2>

@helper.form(action = routes.DocAdmin.update(doc.id),
'class -> "form-horizontal") {

@formFields(form, lists)

<div class="form-actions">
  <button class="btn btn-primary" type="submit"><i class="icon-ok"></i> Enregistrer</button>
  <a class="btn" href="@routes.Doc.showSlug(doc.id, doc.slug)"><i class="icon-remove"></i> Annuler</a>
</div>
}
</div>
}
