@(docs: List[Doc])(implicit flash: Flash)

@import idbase.Helper._

@main("ID Base", bodyClass = "index") {

<div class="jumbotron">
  <div class="container">
    <h1>ID Base</h1>
    <p>Fiches pédagogiques à l'usage des professeurs documentalistes</p>
  </div>
</div>

<div class="container">
  @flashes()
  @group(docs.size + " notices") {
  <table class="table">
    <tbody>
    @docs.map { doc =>
    <tr>
      <td><a href="@routes.Doc.show(doc.id)">@doc.meta.titre</a></td>
      <td>@doc.annee</td>
    </tr>
    }
    </tbody>
  </table>
  }
</div>
}
