@(title: String, page: String, bodyClass: String = "")(content: Html)(implicit user: Option[User])

@import idbase.Helper.version

<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8">
<title>ID Base • @title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")?v=@version">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-select.min.css")">
@if(user.isDefined) {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-tagmanager.css")">
}
<!--[if lt IE 9]>
  <script src="../assets/js/html5shiv.js"></script>
<![endif]-->
<link rel="shortcut icon" href="@routes.Assets.at("img/favicon.ico")" type="image/x-icon" />
</head>

<body class="@page @bodyClass">
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="@routes.Doc.search()">ID Base</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="@{"active".when(page == "search")}">
          <a href="@routes.Doc.search">Recherche</a>
          </li>
          <li class="@{"active".when(page == "table-methode")}">
          <a href="@routes.Doc.tableMethode">Méthodes pédagogiques</a>
          </li>
          <li class="@{"active".when(page == "table-discipline")}">
          <a href="@routes.Doc.tableDiscipline">Interdisciplinarité</a>
          </li>
        </ul>
        @user.map { u =>
        <ul class="nav pull-right">
          <li><a href="@routes.DocAdmin.newForm">Ajouter une notice</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            @u.name
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="@routes.Application.logout"><i class="icon-off"></i> Déconnexion</a></li>
          </ul>
        </ul>
        }.getOrElse {
        <ul class="nav pull-right">
          <li><a href="@routes.Application.login" class="pull-right">Connexion</a></li>
        </ul>
        }
      </div>
    </div>
  </div>
</div>
@content
<footer class="footer">
  <div class="container">
    <p>ID Base - © 2013 Pascal Duplessis</p>
    <p><a href="mailto:pascalDuplessis@@aol.com">pascalDuplessis@@aol.com</a></p>
    <p>Ce site est OpenSource : <a href="http://github.com/ornicar/idbase">Voir le code</a></p>
  </div>
</footer>

<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
@if(user.isDefined) {
<script src="@routes.Assets.at("javascripts/bootstrap-tagmanager.js")"></script>
}
<script src="@routes.Assets.at("javascripts/bootstrap-select.min.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")?v=@version"></script>
</body>
</html>
