@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8">
<title>ID Base • @title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
<!--[if lt IE 9]>
  <script src="../assets/js/html5shiv.js"></script>
<![endif]-->
<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")" type="image/x-icon" />
</head>

<body>

<div class="jumbotron">
  <div class="container">
    <h1>ID Base</h1>
    <p>@title</p>
  </div>
</div>


<div class="container">
  @content
</div>

<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")"></script>
</body>
</html>
