@(title: String, page: String, bodyClass: String = "")(content: Html)(implicit user: Option[User])

@import idbase.Helper.version

<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8">
<title>ID Base • @title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="alternate" type="application/rss+xml" href="@routes.Doc.rss" title="RSS">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")?v=@version">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-select.min.css")">
@if(user.isDefined) {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-tagmanager.css")">
}
<!--[if lt IE 9]>
  <script src="../assets/js/html5shiv.js"></script>
<![endif]-->
<link rel="shortcut icon" href="@routes.Assets.at("img/favicon.ico")" type="image/x-icon" />
</head>

<body class="@page @bodyClass">
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="@routes.Doc.search()">ID Base</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="@{"active".when(page == "search")}">
          <a href="@routes.Doc.search">Recherche</a>
          </li>
          <li class="@{"active".when(page == "table-methode")}">
          <a href="@routes.Doc.tableMethode">Méthodes pédagogiques</a>
          </li>
          <li class="@{"active".when(page == "table-discipline")}">
          <a href="@routes.Doc.tableDiscipline">Interdisciplinarité</a>
          </li>
          <li class="@{"active".when(page == "table-progressions")}">
          <a href="@routes.Doc.tableProgressions">Progressions</a>
          </li>
          <li class="@{"active".when(page == "about")}">
          <a href="@routes.Application.about">À propos</a>
          </li>
        </ul>
        @user.map { u =>
        <ul class="nav pull-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            @u.name
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="@routes.DocAdmin.newForm"><i class="icon-file"></i> Ajouter une notice</a></li>
            <li><a href="https://github.com/ornicar/idbase/edit/master/conf/apropos.md"><i class="icon-pencil"></i> À propos</a></li>
            <li><a href="https://github.com/ornicar/idbase/edit/master/conf/idbase.conf"><i class="icon-wrench"></i> Configuration</a></li>
            <li><a href="@routes.Application.logout"><i class="icon-off"></i> Déconnexion</a></li>
          </ul>
        </ul>
        }.getOrElse {
        <ul class="nav pull-right">
          <li><a href="@routes.Application.login" class="pull-right">Connexion</a></li>
        </ul>
        }
      </div>
    </div>
  </div>
</div>
@content
<footer class="footer">
  <div class="container">
    <p><a href="@routes.Doc.rss"><i class="icon-signal"></i> Flux RSS</a>
    <p>ID Base - © Pascal Duplessis -
    <a href="mailto:pascalDuplessis@@aol.com">pascalDuplessis@@aol.com</a>
    </p>
    <p>
    Le contenu de ce site est mis à disposition selon les termes de la license
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.fr_FR">
      <img title="Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License" alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" />
    </a>
    </p>
    <p>Le <a href="http://github.com/ornicar/idbase">code source</a> de ce site est libre.</p>
  </div>
</footer>

<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
@if(user.isDefined) {
<script src="@routes.Assets.at("javascripts/bootstrap-tagmanager.js")"></script>
}
<script src="@routes.Assets.at("javascripts/bootstrap-select.min.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")?v=@version"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-2501789-13', 'esmeree.fr');
ga('send', 'pageview');
</script>
</body>
</html>
