@(form: Form[_], lists: Lists)(implicit lang: Lang, user: User, messages: Messages)

@mainAuth("Ajouter une notice") {

<div class="container">
<h2>Ajouter une notice</h2>

@helper.form(action = routes.DocAdmin.create,
'class -> "form-horizontal") {

@formFields(form, lists)

<div class="form-actions">
  <button class="btn btn-primary" type="submit"><i class="icon-ok"></i> Enregistrer</button>
  <a class="btn" href="@routes.Doc.search()"><i class="icon-remove"></i> Annuler</a>
</div>
}
</div>
}
