@(form: Form[_], lists: Lists, nb: Int, docs: List[Doc])(implicit flash: Flash, user: Option[User])

@import idbase.Helper._
@import idbase.{ Names => N }
@import helper.{ form => _, _ }
@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.f) }

@main("Recherche", "search", bodyClass = "home") {

<div class="jumbotron">
  <div class="container">
    <h1>ID Base</h1>
    <p>Fiches pédagogiques à l'usage des professeurs documentalistes</p>
  </div>
</div>

<div class="container">
  @flashes()

  @helper.form(action = routes.Doc.search,
  'class -> "form-horizontal form-search") {

  @select2(form("notion"), selectable(lists.notions.sorted),
  '_label -> N.notion,
  'multiple -> "multiple",
  'class -> "input-wide")

  @select2(form("niveau"), selectable(lists.niveau),
  '_label -> N.niveau,
  'multiple -> "multiple",
  'class -> "input-wide")

  @select2(form("methodePedagogique"), selectable(lists.methodePedagogique.sorted),
  '_label -> N.methodePedagogique,
  'multiple -> "multiple",
  'class -> "input-wide")

  @select2(form("interdisciplinarite"), selectable(lists.interdisciplinarite.sorted),
  '_label -> N.interdisciplinarite,
  'multiple -> "multiple",
  'class -> "input-wide")

  @inputText(form("texte"),
  '_label -> "Plein texte",
  '_help -> "",
  'class -> "input-wide")

  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary btn-large" type="submit">Chercher dans @nb notices</button>
      <a class="btn" href="@routes.Doc.search"><i class="icon-remove"></i> Réinitialiser</a>
    </div>
  </div>
  }

  <p class="lead">
  @if(docs.size == 0) {
  Aucune notice trouvée.
  }
  @if(docs.size == 1) {
  Une notice trouvée :
  }
  @if(docs.size > 1) {
  @docs.size notices trouvées :
  }
  @docs.map { doc =>
  <section class="doc-found">
    <h2>
      <a href="@routes.Doc.show(doc.id)">@doc.meta.titre</a>
      <span class="muted">(@doc.annee)</span>
    </h2>
    <table class="table table-doc table-condensed">
      <tbody>
      @rowHtml(N.notion) {
      @Link(doc.notion, Link.notion, sep = " ")
      }
      @rowHtml(N.niveau) {
      @Link(doc.niveau, Link.niveau)
      }
      @rowHtml(N.methodePedagogique) {
      @Link(doc.methodePedagogique, Link.methodePedagogique, sep = " ")
      }
      @if(doc.interdisciplinarite.nonEmpty) {
      @rowHtml(N.interdisciplinarite) {
      @Link("Information-documentation" :: doc.interdisciplinarite, Link.interdisciplinarite)
      }
      }
      </tbody>
    </table>
  </section>
  }
</div>
}
