@(doc: Doc)(implicit flash: Flash, user: Option[User])

@import idbase.Helper._
@import idbase.{ Names => N }

@main("Notice : " + doc.meta.titre, "search") {

<div class="container doc-show">
  @flashes()
  <header class="lead">
    <h1 class="titre">
      <span class="muted">Analyse de "</span>@doc.meta.titre<span class="muted">" (@doc.annee)</span>
    </h1>
    <a href="@doc.meta.url">@doc.meta.url</a>
  </header>
  @tableGroup("Cadre") {
  @rowHtml(N.niveau) {
  @Link(doc.niveau, Link.niveau)
  }
  @if(doc.interdisciplinarite.nonEmpty) {
  @rowHtml(N.interdisciplinarite) {
  @Link("Information-documentation" :: doc.interdisciplinarite, Link.interdisciplinarite)
  }
  }
  @doc.dispositifPedagogique.map { o =>
  @row(N.dispositifPedagogique, Markdown(o))
  }
  @doc.dispositifEducatif.map { o =>
  @row(N.dispositifEducatif, Markdown(o))
  }
  @row(N.duree, doc.meta.duree)
  }
  @tableGroup("Savoirs visés") {
  @rowHtml(N.notion) {
  @Link(doc.notion, Link.notion, sep = " ")
  }
  @doc.meta.objectifT1.map { o =>
  @row(N.objectifT1, Markdown(o))
  }
  @doc.meta.objectifT2.map { o =>
  @row(N.objectifT2, Markdown(o))
  }
  @doc.meta.objectifT3.map { o =>
  @row(N.objectifT3, Markdown(o))
  }
  @row(N.evaluation, doc.meta.evaluation mkString ", ")
  @doc.meta.outilEvaluation.map { o =>
  @row(N.outilEvaluation, Markdown(o))
  }
  }
  @tableGroup("Enseignement") {
  @row(N.scenario, Markdown(doc.meta.scenario))
  @rowHtml(N.methodePedagogique) {
  @Link(doc.methodePedagogique, Link.methodePedagogique, sep = " ")
  }
  @row(N.deroulement, Markdown(doc.meta.deroulement))
  @doc.meta.outilDidactique.map { o =>
  @row(N.outilDidactique, Markdown(o))
  }
  }
  @tableGroup("Apprentissage") {
  @if(doc.meta.demarche.nonEmpty) {
  @row(N.demarche, doc.meta.demarche mkString ", ")
  }
  @row(N.tache, Markdown(doc.meta.tache))
  @doc.meta.materiau.map { m =>
  @row(N.materiau, Markdown(m))
  }
  @doc.production.map { p =>
  @row(N.production, Markdown(p))
  }
  @doc.meta.ficheEleve.map { o =>
  @row(N.ficheEleve, Markdown(o))
  }
  }
  @group(N.commentaire) {
  @Markdown(doc.meta.commentaire)
  }
  @doc.meta.retour.map { r =>
  @group(N.retour) {
  @Markdown(r)
  }
  }
  @doc.meta.ressource.map { o =>
  @group(N.ressource) {
  @Markdown(o)
  }
  }
  @group(doc.source) {
  @Markdown(doc.meta.reference)
  }

  @if(user.isDefined) {
  <div class="form-actions">
    <a class="btn" href="@routes.DocAdmin.editForm(doc.id)"><i class="icon-edit"></i> Modifier</a>
    <form
      class="delete"
      style="display: inline"
      action="@routes.DocAdmin.delete(doc.id)"
      method="post"
      title="Supprimer la fiche @doc.meta.titre">
      <button class="btn btn-danger pull-right"><i class="icon-remove"></i> Supprimer</button>
    </form>
  </div>
  }
</div>
}
