@(doc: Doc)(implicit flash: Flash)

@import idbase.Helper._
@import idbase.{ Names => N }

@main("Notice : " + doc.meta.titre) {

<div class="container">
  @flashes()
  <p class="lead">
  Notice <strong class="muted">@doc.annee</strong>
  @doc.meta.titre<br />
  <a href="@doc.meta.url">@doc.meta.url</a>
  </p>
  @tableGroup("Cadre") {
  @row(N.niveau, doc.niveau mkString ", ")
  @row(N.interdisciplinarite, doc.interdisciplinarite mkString ", ")
  @row(N.dispositifPedagogique, doc.dispositifPedagogique)
  @row(N.dispositifEducatif, doc.dispositifEducatif)
  @row(N.duree, doc.meta.duree)
  }
  @tableGroup("Savoirs") {
  @rowHtml(N.notion) {
  @doc.notion.map { n =>
  <span class="label label-info">@n</span>
  }
  }
  @doc.meta.objectifT1.map { o =>
  @row(N.objectifT1, o)
  }
  @doc.meta.objectifT2.map { o =>
  @row(N.objectifT2, o)
  }
  @doc.meta.objectifT3.map { o =>
  @row(N.objectifT3, o)
  }
  @row(N.evaluation, doc.meta.evaluation mkString ", ")
  }
  @tableGroup("Enseignement") {
  @row(N.scenario, doc.meta.scenario)
  @rowHtml(N.methodePedagogique) {
  @doc.methodePedagogique.map { m =>
  <strong>@m</strong>
  }
  }
  @row(N.deroulement, doc.meta.deroulement)
  }
  @tableGroup("Apprentissage") {
  @row(N.demarche, doc.meta.demarche mkString ", ")
  @row(N.tache, doc.meta.tache)
  @row(N.materiau, doc.meta.materiau)
  @row(N.production, doc.production)
  @row(N.outilDidactique, doc.meta.outilDidactique)
  }
  @tableGroup("Commentaire") {
  @row("", doc.meta.commentaire)
  }
  @tableGroup(doc.source) {
  @row("", doc.meta.reference)
  }

  <div class="form-actions">
    <a class="btn" href="@routes.Doc.editForm(doc.id)">Modifier</a>
    <form 
      class="delete" 
      style="display: inline" 
      action="@routes.Doc.delete(doc.id)" 
      method="post" 
      title="Supprimer la fiche @doc.meta.titre">
      <button class="btn btn-danger" href="@routes.Doc.delete(doc.id)">Supprimer</button>
    </form>
  </div>
</div>
}
