@(notions: List[String], disciplines: List[String], docs: List[Doc])(implicit user: Option[User])

@import idbase.Helper._

@main("Table des interdisciplinarités", "table-discipline") {

<div class="container">
  <h1 class="lead">Croisez notions et interdisciplinarité !</h1>
  <table class="table table-cross table-bordered">
    <tbody>
    @notions.filter(n => docs.exists(_ hasNotionAndDiscipline n)).zipWithIndex.map {
    case (notion, index) => {
    @if(index % 12 == 0) {
    <tr>
      <th></th>
      @disciplines.map { discipline =>
      <th class="discipline">@Html(Link.interdisciplinarite(discipline))</th>
      }
    </tr>
    }
    <tr>
      <th class="notion">@Html(Link.notion(notion))</th>
      @disciplines.map { discipline =>
      <td>
        @docs.filter(d => d.notion.contains(notion) && d.interdisciplinarite.contains(discipline)).map(_.niveau).flatten.distinct.map { n =>
        <a href="@routes.Doc.search?notion[]=@notion&interdisciplinarite[]=@discipline&niveau[]=@n">@n</a>
        }
      </td>
      }
    </tr>
    }
    }
    </tbody>
  </table>
</div>
}
