@(notions: List[String], methodes: List[String], docs: List[D])(implicit user: Option[User])

@import idbase.Helper._

@main("Table des méthodes pédagogiques", "table-methode") {

<div class="container">
  <h1 class="lead">Croisez notions et méthodes pédagogiques !</h1>
  <table class="table table-cross table-bordered">
    <tbody>
    @notions.zipWithIndex.map { 
    case (notion, index) => {
    @if(index % 12 == 0) {
      <tr>
        <th></th>
        @methodes.map { methode =>
        <th>@Html(Link.methodePedagogique(methode))</th>
        }
      </tr>
    }
    <tr>
      <th class="notion">@Html(Link.notion(notion))</th>
      @methodes.map { methode =>
      <td>
        @docs.filter(d => d.notion.contains(notion) && d.methodePedagogique.contains(methode)).map(_.niveau).flatten.distinct.map { n =>
        <a href="@routes.Doc.search?notion[]=@notion&methodePedagogique[]=@methode&niveau[]=@n">@n</a>
        }
      </td>
      }
    </tr>
    }
    }
    </tbody>
  </table>
</div>
}
